* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary: #3f51b5;
  --primary-hover: #303f9f;
  --on-primary: #ffffff;
  --secondary: #ffc107;
  --on-secondary: #212121;
  --background: #fafafa;
  --on-background: #212121;
  --surface: #ffffff;
  --on-surface: #212121;
  --error: #e53935;
}

body {
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Poppins", sans-serif;
  line-height: 1;
}
